[default]
bot_token = ""
#各種ファイルパス・リンクを指定します
coeiroink_path = "COEIROINK\\engine\\engine.exe"
coeiroink_url = "http://127.0.0.1:50032"
ffmepg_path = "ffmpeg\\ffmpeg.exe"
database = "sqlite:///coeyomi_user.sqlite3"
#キャラクターが見つからない、または設定されていない場合のフォールバック先を指定します
defaultCharacter = "3c37646f-3881-5374-2a83-149267990abc"
defaultStyle = "0"
#COEIROINK起動時のタイムアウトを指定します
startup_timeout = 5
#設定メニューの内容分割数を指定できます(最大20)
split = 5
#正規表現を利用して文字列を置き換えます
#例:
#[[default.regexp]]
#exp = '''\|\|.*?\|\|'''
#replace = "ほにゃらら"
[[default.regexp]]
exp = ''''''
replace = ""